<div class="myProfile">
  <div class="imageContainer">
    <!-- https://randomuser.me/api/portraits/men/29.jpg -->
    <img
      src="https://instagram.fbom36-1.fna.fbcdn.net/v/t51.2885-15/e35/81110431_2494745737444894_6249718617479082730_n.jpg?_nc_ht=instagram.fbom36-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=nc3UPe_c3nQAX9suPca&tp=1&oh=071acfb31f32d1ee3f56af9bcd6826a4&oe=603CC3AE"
      alt="Prathamesh Ashra" />
  </div>
  <p class="myName">Prathamesh Ashra</p>
  <span class="mytags"> Full Stack Developer </span>
</div>
<div class="mySkill">
  <div class="age__container">
    <div class="name">
      <p>Residence:</p>
      <p>City</p>
      <p>Age:</p>
    </div>
    <div class="value">
      <p>India</p>
      <p>Mumbai</p>
      <p>
        {{currentYear}}
      </p>
    </div>
  </div>
  <div class="skill__container">
    <div class="check">
      <img src="../../../assets/icons8-angularjs.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="check">
      <img src="../../../assets/icons8-react-native.svg" alt="" />
      <p>Native</p>
    </div>
    <div class="check">
      <img src="../../../assets/icons8-vuejs.svg" alt="" />
      <p>Vue</p>
    </div>
    <div class="check">
      <img src="../../../assets/icons8-django.svg" alt="" />
      <p>Django</p>
    </div>
    <div class="check">
      <img src="../../../assets/icons8-c-sharp-logo.svg" alt="" />
      <p>C Sharp</p>
    </div>
  </div>
</div>
<div class="bottom__container">
  <div class="shareLink_container" *ngFor="let item of shareLink">
    <img src="{{item}}" alt="">
  </div>
</div>